{% extends 'base.html.twig' %}

{% block title %}N3WEB
{% endblock %}

{% block body %}

	<header class="container-fluid pt-5 pb-5">
		<div class="row justify-content-center">
			<div class="col-10 pt-5">
				<h1 class="h1 text-center">Bienvenue jeune Padawan</h1>
			</div>
		</div>
	</header>
    {% include "/partials/_home-admin.html.twig" %}

{% endblock %}
