{% extends 'base.html.twig' %}

{% block title %}N3WEB{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Salut la  {{home_message}}</h1>

    <p>Bienvenue sur le Tableau de bord de l'équipe, il est en construction alors encore un peu de patience, merci.</p>
    
</div>
{% endblock %}
