body {
    background-color: lightgray;
}

.card-list-neweb .card-body{
    display: flex;
    justify-content: space-around;
}

.card-list-neweb img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card-commerciaux{
    display: flex;
    justify-content: space-around;
}