{% extends 'base.html.twig' %}

{% block title %}New MessageCM{% endblock %}

{% block body %}
    <h1>Create new MessageCM</h1>

    {{ include('message_cm/_form.html.twig') }}

    <a href="{{ path('app_message_cm_index') }}">back to list</a>
{% endblock %}
