{% extends 'base.html.twig' %}

{% block title %}New MessageCM{% endblock %}

{% block body %}
    <h1>Create new MessageCM</h1>

    {{ include('message_cm/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_account_index') }}">Mes messages déjà envoyé</a>
{% endblock %}
